.image-wrapper {
  flex: 0 0 568px;
  width: 568px;
  height: 530px;
  background-color: #fbe9ba;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}

.character-container {
  position: relative;
  width: 339px;
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mac-icon {
  z-index: 2;
  width: 360px;
  height: 176px;
  position: absolute;
  bottom: 0;
}

.mac-icon use {
  fill: inherit;
}

.mac-icon {
  fill: url(#css-grad-mac) !important;
}
