.header-logo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.header-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #121417;
  text-decoration: none;
}
