.home {
  padding: 32px 64px;
  max-width: 1440px;
  margin: 0 auto;
}

/* .container-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  align-items: stretch;
} */

.container-img {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: stretch;
}
