.teachers {
  margin: 0 auto;
  width: 1312px;
  padding: 32px 0;
}

.btn-load-more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  color: #121417;
  border-radius: 12px;
  padding: 16px 48px;
  width: 183px;
  height: 60px;
  background: #f4c550;
  border: none;
}

.btn-load-more:hover {
  background: #ffdc86;
}
