.header-items {
  display: flex;
  gap: 28px;
  align-items: center;
  list-style: none;
}

.header-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #121417;
  text-decoration: none;
}

.header-link:hover {
  color: #f4c550;
}
